* {
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.to-do-list {
  height: auto;
  width: 500px;
  margin: 0;
  padding: 0;
}

.to-do {
  box-shadow: -1px 5px 6px 5px;
  background-color: lightgray;
}

.input {
  border: none;
  width: 100%;
  margin: 2px 0;
  height: 40px;
  font-size: 15px;
  background-color: #fff;
  padding: 10px;
  outline: none;
}

.to-do-list li {
  list-style: none;
  background-color: #fff;
  margin: 3px;
  font-size: 18px;
}

.task {
  display: flex;
  gap: 5px;
  align-items: center;
  height: 40px;
  padding: 10px;
  margin: 2px 0;
}

.heading {
  padding: 5px;
  margin: 0 0 2px 0;
  height: 40px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.button {
  width: 100%;
  border: none;
  height: 45px;
}

.taskcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin: 2px 0;
  padding: 2px 5px;
}

.icon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.rotate {
  padding-right: 10px;
}

.fa-trash:hover {
  cursor: pointer;
  color: orangered;
  font-size: 20px;
}

.list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fff;
  margin: 5px 0;
  padding-right: 10px;
}

.inputClass {
  pointer-events: none;
}

.noneEdit {
  outline: none;
  border: none;
}

.editable {
  border: none;
  background-color: transparent;
  color: gray;
}

.editable:focus {
  outline: auto;
  border: 1px solid gray;
  background-color: white;
  color: #000;
}

.add {
  height: 40px;
  border: none;
  outline: none;
  width: auto;
  background-color: #fff;
  font-weight: bold;
}

.add:hover {
  background-color: orangered;
  color: #fff;
  cursor: pointer;
  font-weight: bolder;
}
